/* Estilo base para la tarjeta del personaje */
.practice-card {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 6px; /* Bordes redondeados */
    padding: 2rem;
    transition: all 0.3s ease; /* Suaviza la animaci칩n del hover */
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    margin: 10px; /* Separaci칩n entre tarjetas */
    max-width: 300px; /* Ancho m치ximo para que no se estiren demasiado */
    display: inline-block; /* Para que se pongan una al lado de otra */
    vertical-align: top;
}

/* Efecto al pasar el mouse por encima */
.practice-card:hover {
    border-color: #2a2a2a;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transform: translateY(-5px); /* Peque침o movimiento hacia arriba */
}

.practice-title {
    color: #e67e22; /* Color naranja estilo Dragon Ball */
}

#contenedor-personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.btn-inicio {
    display: inline-block;
    margin: 20px;
    padding: 10px 18px;
    background-color: #2c3e50;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-inicio:hover {
    background-color: #34495e;
     transform: translateY(-2px);
}

.btn-inicio {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}