body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #3498db;
}

#map {
    margin: auto;
    display: block;
    border: 2px solid #3498db;
    border-radius: 10px;
    height: 80vh;
    width: 80vw;    
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e3a5f;
    padding: 20px;
    color: white;
}

.top-actions-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.header-left {
    flex: 3;
    text-align: center;
}

.top-actions-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.btn-principal {
    background-color: #d9534f; 
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-principal:hover {
    background-color: #c9302c;
}